
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.header {
    width: 100%;
    background: #000000;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.header-content {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.logo span {
    font-weight: lighter;
    font-size: 16px;
    opacity: 0.8;
}


.menu-navegacao {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    transition: 0.3s ease;
}

.menu-navegacao li {
    cursor: pointer;
    transition: 0.2s;
}

.menu-navegacao li:hover {
    transform: scale(1.05);
    opacity: 0.8;
    text-decoration: underline;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

.servicos-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

.servicos-container h1 {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 40px;
}

.servicos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.servico-card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.servico-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.icone {
    font-size: 45px;
    margin-bottom: 15px;
}

.servico-card h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.servico-card p {
    font-size: 0.95rem;
    color: #444;
}

/* MOBILE */
@media (max-width: 600px) {
    .servicos-container h1 {
        font-size: 1.9rem;
    }

    .icone {
        font-size: 38px;
    }
}

.footer {
    width: 100%;
    background: #0d0d0d;
    color: #fff;
    padding: 60px 0 20px;
    margin-top: 60px;
    border-top: 3px solid #007bff23;
}

.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-col {
    flex: 1;
    min-width: 220px;
}

.footer-col h3,
.footer-col h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.footer-col p {
    opacity: 0.8;
    line-height: 1.4;
}

.footer-col ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #ccc;
    text-decoration: none;
    transition: 0.2s;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 5px;
    text-decoration: underline;
}

.footer-social a {
    font-size: 22px;
    margin-right: 15px;
    color: #ccc;
    transition: 0.3s;
}

.footer-social a:hover {
    color: #fff;
    transform: scale(1.15);
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding-top: 25px;
    border-top: 1px solid #333;
}

.footer-bottom p {
    font-size: 14px;
    opacity: 0.7;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .footer-social {
        justify-content: center;
        display: flex;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fa;
}



.servicos-container {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

.servicos-container h1 {
    font-size: 2.2rem;
    color: #010407;
}

.subtitulo {
    margin-top: -10px;
    color: #444;
}


.bloco-servico {
    background: white;
    margin: 40px auto;
    width: 100%;
    padding: 40px;
    display: flex;
    gap: 40px;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}

.bloco-servico img {
    width: 40%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}

.texto-servico {
    width: 60%;
    text-align: left;
}

.texto-servico h2 {
    font-size: 1.7rem;
    color: #01060e;
}

.texto-servico p {
    font-size: 1rem;
    color: #444;
}

.preco {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #0d47a1;
}

.botao-orcamento {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #000000;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.botao-orcamento:hover {
    background: #1565c0;
}

/* Responsivo */
@media(max-width: 850px) {
    .bloco-servico {
        flex-direction: column;
        text-align: center;
    }

    .bloco-servico img {
        width: 100%;
        height: 220px;
    }

    .texto-servico {
        width: 100%;
        text-align: center;
    }
}
