body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.menu-navegacao li a {
    text-decoration: none;
    color: white;
}

.menu-navegacao li a:hover {
    color: #4aa3ff;
}

.header {
    width: 100%;
    background: #000000;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.header-content {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.logo span {
    font-weight: lighter;
    font-size: 16px;
    opacity: 0.8;
}


.menu-navegacao {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    transition: 0.3s ease;
}

.menu-navegacao li {
    cursor: pointer;
    transition: 0.2s;
}

.menu-navegacao li:hover {
    transform: scale(1.05);
    opacity: 0.8;
    text-decoration: underline;
}


.hamburguer {
    width: 35px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburguer span {
    display: block;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: 0.4s;
}

/* Container geral */
.carousel-container {
    position: relative;
    max-width: 650px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Área que exibe a imagem */
.carousel {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

/* Faixa interna das imagens */
.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

/* Imagens do carrossel */
.carousel-track img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* Botões laterais */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    transition: 0.2s;
    z-index: 10;
}

.carousel-btn:hover {
    background-color: rgba(0,0,0,0.7);
}

.prev {
    left: -50px;
}

.next {
    right: -50px;
}

/* Responsivo */
@media (max-width: 600px) {
    .carousel-btn {
        font-size: 22px;
        padding: 8px 10px;
    }

    .prev { left: -35px; }
    .next { right: -35px; }

    .carousel-track img {
        height: 250px;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f8f9fa;
    color: #333;
    line-height: 1.6;
}


main {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 80px 20px;
    background: #ffffff;
}

main h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

main p {
    font-size: 18px;
    color: #555;
}


section {
    width: 100%;
    background: #fff;
    padding: 60px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


section h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
}

main {
    position: relative;
    padding: 40px 20px;
    background: linear-gradient(to bottom, #ffffff, #e8f0ff);
}

main img {
    width: 100%;
    max-width: 650px;
    height:650px;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    opacity: 0.95;
} 

.footer {
    width: 100%;
    background: #0d0d0d;
    color: #fff;
    padding: 60px 0 20px;
    margin-top: 60px;
    border-top: 3px solid #007bff23;
}

.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-col {
    flex: 1;
    min-width: 220px;
}

.footer-col h3,
.footer-col h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.footer-col p {
    opacity: 0.8;
    line-height: 1.4;
}

.footer-col ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #ccc;
    text-decoration: none;
    transition: 0.2s;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 5px;
}

.footer-social a {
    font-size: 22px;
    margin-right: 15px;
    color: #ccc;
    transition: 0.3s;
}

.footer-social a:hover {
    color: #fff;
    transform: scale(1.15);
}

/* bottom */
.footer-bottom {
    text-align: center;
    padding-top: 25px;
    border-top: 1px solid #333;
}

.footer-bottom p {
    font-size: 14px;
    opacity: 0.7;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .footer-social {
        justify-content: center;
        display: flex;
    }
}

